GridBackground {
    --spacing: 16;
    --thick-lines: 10;
    --line-color: #333333;
    --thick-line-color: #555555;
}

#GraphTypeLabel {
    position: absolute;
    -unity-font-style: bold;
    margin: 12px 0px 0px 12px;
    color: #444;
    opacity: 0.6;
    font-size: 36px;
}