BuildConnectionInspector {
    flex-grow: 1;
}

BuildConnectionInspector #groups-table {
    flex-grow: 1;
}

BuildConnectionInspector #assets-table {
    flex-grow: 3;
}

BuildConnectionInspector SimpleTable #headers-root, BuildConnectionInspector SimpleTable #columns-root {
    flex-direction: row;
}
